.clamp{
    height: clamp(4rem, 25vw, 8rem)
}

.selected{
    border-width: 4px;
    border-color: black;
    position: relative;
}

.selected::after{
    content: '';
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}