<img
  [src]="images[this.selectedImage]"
  [ngClass]="{ hidden: !mobile }"
  (click)="onImageClick(selectedImage)"
  class="w-screen h-96 object-cover mx-auto"
  (window:resize)="onResize($event)"
/>
<div
  class="
    overflow-x-auto
    whitespace-nowrap
    lg:overflow-x-hidden
    lg:grid lg:grid-cols-2
    lg:gap-2
  "
>
  <img
    *ngFor="let image of images; let imgIndex = index"
    class="
      inline-block
      w-40
      h-40
      lg:w-60
      lg:h-60
      object-cover
      cursor-pointer
      my-4
      lg:m-0
    "
    [ngClass]="{
      'selected': imgIndex === selectedImage && mobile,
      clamp: mobile
    }"
    [src]="image"
    (click)="onImageClick(imgIndex)"
  />
</div>
<div *ngIf="this.enlargedImage !== null">
  <div
    class="
      absolute
      left-0
      top-0
      h-full
      w-full
      bg-black
      z-30
      bg-opacity-75
      flex
      items-center
    "
  >
    <div class="relative overlay">
      <app-close-button
        (click)="this.enlargedImage = null"
        class="absolute float-right right-2 top-2 z-40 bg-white rounded-full p-2.5 cursor-pointer"
      ></app-close-button>
      <img (click)="this.enlargedImage=null" [src]="images[this.enlargedImage]" />
    </div>
  </div>
</div>
