<form
  class="text-sm"
  *ngIf="formEnabled"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <select class="text-sm" name="status" formControlName="status">
    <option value="processing">Processing</option>
    <option value="packaged">Packaged</option>
    <option value="shipped">Shipped</option>
    <option value="completed">Completed</option>
  </select>
  <button type="submit" class="bg-lightgreen px-5 py-3 ml-5">Apply</button>
  <button type="button" class="bg-gray-300 px-5 py-3 ml-5" (click)="ToggleForm()">CANCEL</button>
</form>
<div
  *ngIf="!formEnabled"
  (click)="ToggleForm()"
  class="text-sm bg-lightgreen px-5 py-3 rounded w-max cursor-pointer uppercase"
  [ngClass]="{
    'bg-red-600': order.status === 'processing',
    'bg-yellow-300': order.status === 'packaged',
    'bg-lightgreen': order.status === 'shipped',
    'bg-blue-600': order.status === 'completed'
  }"
>
  {{ order.status }}
</div>
