<form
  class="text-sm"
  *ngIf="formEnabled"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <select class="text-sm" name="status" formControlName="status">
    <option value="processing">Processing</option>
    <option value="packaged">Packaged</option>
    <option value="shipped">Shipped</option>
    <option value="completed">Completed</option>
  </select>
  <button type="submit" class="bg-lightgreen px-5 py-3 ml-5">Apply</button>
</form>
<div
  *ngIf="!formEnabled"
  (click)="EnableForm()"
  class="text-sm bg-lightgreen px-5 py-3 rounded w-max cursor-pointer"
  [ngClass]="{
    'bg-gray-800 text-white': order.status === 'processing',
    'bg-yellow-800': order.status === 'packaged',
    'bg-yellow-200': order.status === 'shipped',
    'bg-lightgreen': order.status === 'completed'
  }"
>
  {{ order.status }}
</div>
