<div class="banner">
  <div class="flex text-center mx-auto h-full justify-center">
    <h1 class="self-center text-4xl font-extrabold z-10">
      FREQUENTLY ASKED QUESTIONS
    </h1>
  </div>
</div>

<section class="my-5">
  <h2 class="text-center">Shipping</h2>
  <h3>Where are the plants being shipped from?</h3>
  <p>We are located near Pasadena, CA!</p>

  <h3>Do you ship outside the United States?</h3>
  <p>
    Currently, we can only ship to locations within the United States and Guam.
  </p>

  <h3>
    How are the plants packaged? What measures are taken to secure/protect the
    plants?
  </h3>
  <p></p>

  <h3>Can I choose the shipping carrier and/or delivery method?</h3>
  <p>
    We currently allow our customers to select between USPS or UPS for the
    carriers. You can select between Overnight or Two-Day shipping for both
    carriers.
  </p>
  <br />
  <p>
    If you would like us to use a different shipping method or carrier, please
    email us a message regarding your request as soon as possible.
  </p>

  <h3>How long does it take to ship?</h3>
  <p>
    We currently have two shipping options that you can select, Overnight and
    Two-Day shipping. Unfortunately, we cannot guarantee that the package will
    be sent on time.
  </p>
  <br />
  <p>
    In order to reduce the strain on the plants, we time our delivery to the
    shipping carriers to right before they do last calls. By doing this, we can
    limit how much time the plants are kept inside a box.
  </p>

  <h3>
    I recently made a purchase, but I am going to be unable to receive the plant
    when its delivered. Can I request for the shipping to be delayed?
  </h3>
  <p>
    We will gladly hold on to any plants that you have purchased until you can
    safely receive your new plants!
  </p>
</section>

<section class="my-5">
  <h2 class="text-center">Payment</h2>
  <h3>Q. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, sit?</h3>
  <p>
    A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi facilis
    eligendi corrupti repellendus earum ab illum voluptate quia non ut quidem
    iusto fugit soluta adipisci, ullam magni consectetur quis aut! Laudantium
    alias minima ut labore debitis dolor aut repudiandae doloremque mollitia
    aliquam optio voluptas, hic accusamus. Nisi perspiciatis recusandae porro!
  </p>
</section>

<section class="my-5">
  <h2>Plant Care</h2>
  <h3>Q. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, sit?</h3>
  <p>
    A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi facilis
    eligendi corrupti repellendus earum ab illum voluptate quia non ut quidem
    iusto fugit soluta adipisci, ullam magni consectetur quis aut! Laudantium
    alias minima ut labore debitis dolor aut repudiandae doloremque mollitia
    aliquam optio voluptas, hic accusamus. Nisi perspiciatis recusandae porro!
  </p>
  <h3>Q. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, sit?</h3>
  <p>
    A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi facilis
    eligendi corrupti repellendus earum ab illum voluptate quia non ut quidem
    iusto fugit soluta adipisci, ullam magni consectetur quis aut! Laudantium
    alias minima ut labore debitis dolor aut repudiandae doloremque mollitia
    aliquam optio voluptas, hic accusamus. Nisi perspiciatis recusandae porro!
  </p>
</section>
