@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap");

.banner {
  width: 100%;
  height: 30rem;
  position: relative;
  top: 0;
  left: 0;
  background-image: url("/assets/img/faq-banner.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

.banner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0.3);
}

section {
  width: clamp(20rem, 75vw, 70rem);
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

h2 {
  margin: 3rem auto 1.5rem auto;

  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
  width: fit-content;
}

h3 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 768px) {
  h3 {
    text-indent: 0rem;
  }
}



p {

  text-indent: 2rem;
  font-size: 1rem;
}
