<div class="banner">
  <div class="flex text-center mx-auto h-full justify-center">
    <h1 class="self-center text-4xl font-extrabold z-10">FREQUENTLY ASKED QUESTIONS</h1>
  </div>
</div>

<section class="my-5">
  <h2 class="text-center">Shipping</h2>
  <h3>Where are the plants being shipped from?</h3>
  <p>We are located around Pasadena, CA!</p>

  <h3>Do you ship outside the United States?</h3>
  <p>Currently, we can only ship to locations within the United States and Guam.</p>
  <h3>Q. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, sit?</h3>
  <p>A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi facilis eligendi corrupti repellendus earum ab illum voluptate quia non ut quidem iusto fugit soluta adipisci, ullam magni consectetur quis aut! Laudantium alias minima ut labore debitis dolor aut repudiandae doloremque mollitia aliquam optio voluptas, hic accusamus. Nisi perspiciatis recusandae porro!</p>
</section>


<section class="my-5">
  <h2 class="text-center">Payment</h2>
  <h3>Q. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, sit?</h3>
  <p>A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi facilis eligendi corrupti repellendus earum ab illum voluptate quia non ut quidem iusto fugit soluta adipisci, ullam magni consectetur quis aut! Laudantium alias minima ut labore debitis dolor aut repudiandae doloremque mollitia aliquam optio voluptas, hic accusamus. Nisi perspiciatis recusandae porro!</p>
</section>

<section class="my-5">
  <h2>Plant Care</h2>
  <h3>Q. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, sit?</h3>
  <p>A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi facilis eligendi corrupti repellendus earum ab illum voluptate quia non ut quidem iusto fugit soluta adipisci, ullam magni consectetur quis aut! Laudantium alias minima ut labore debitis dolor aut repudiandae doloremque mollitia aliquam optio voluptas, hic accusamus. Nisi perspiciatis recusandae porro!</p>
  <h3>Q. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, sit?</h3>
  <p>A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi facilis eligendi corrupti repellendus earum ab illum voluptate quia non ut quidem iusto fugit soluta adipisci, ullam magni consectetur quis aut! Laudantium alias minima ut labore debitis dolor aut repudiandae doloremque mollitia aliquam optio voluptas, hic accusamus. Nisi perspiciatis recusandae porro!</p>
</section>
