<div class="border-gray-800 border rounded-md flex flex-wrap p-4 font-semibold w-80">
  <div class="w-full">
    <div class="flex my-2">
      <img src="assets/svg/user-solid.svg" />
      <p>{{ order.shipping.name.full_name }}</p>
    </div>
    <div class="flex my-2">
      <img src="assets/svg/location.svg" />
      <div>
        <p>
          {{ order.shipping.address.address_line_1 }},
          {{ order.shipping.address.admin_area_2 }},
          {{ order.shipping.address.admin_area_1 }}
          {{ order.shipping.address.postal_code }}
        </p>
      </div>
    </div>
    <div class="flex my-2">
      <img src="assets/svg/at-logo.svg">
      <p class="break-all">{{ order.payer.email_address }}</p>
    </div>
  </div>
  <div class="my-4 mr-8">
    <h3>Carrier</h3>
    <p class="uppercase">{{ order.shipping.carrier }}</p>
  </div>
  <div class="my-4 mr-8">
    <h3>Delivery Option</h3>
    <p>{{ order.shipping.method }}</p>
  </div>
  <div class="my-4 mr-8">
    <h3>Signature</h3>
    <p>{{ order.shipping.signature ? "Required" : "Not Required" }}</p>
  </div>
  <div class="my-4 mr-8">
    <h3>Products</h3>
    <p class="cursor-pointer" (click)="openShop(product)" *ngFor="let product of order.products">{{ product }}</p>
  </div>
  <app-order-form class="w-full my-4" [order]="order"></app-order-form>
  <!-- Advanced Information -->
  <div class="w-full flex flex-wrap" *ngIf="isVisible">
    <hr />
    <h2>ADDITIONAL INFORMATION</h2>
    <div class="my-2 mr-8">
      <h3>Total</h3>
      <p>{{ order.total | currency }}</p>
    </div>
    <div class="my-2 mr-8">
      <h3>Subtotal</h3>
      <p>{{ order.subtotal | currency }}</p>
    </div>
    <div class="my-2 mr-8">
      <h3>Shipping Cost</h3>
      <p>{{ order.shipping.cost | currency }}</p>
    </div>
    <div class="my-2 mr-8">
      <h3>Purchase Date</h3>
      <p>{{ order.purchase_date | datetime }}</p>
    </div>
    <div class="my-2 mr-8">
      <h3>Payer ID</h3>
      <p>{{ order.payer.payer_id}}</p>
    </div>
  </div>
  <div class="w-full">
    <button (click)="toggleAdvancedInfo()">
      {{ isVisible ? "SHOW LESS" : "SHOW MORE" }}
    </button>
  </div>
</div>
