<div class="banner">
  <div class="flex text-center mx-auto h-full justify-center">
    <h1 class="absolute top-60 text-5xl lg:text-7xl font-extrabold z-10">CONTACT US</h1>
  </div>
</div>

<div class="flex flex-col text-center">
  <h1>Thank you for your purchase, {{ payer }}!</h1>
  <p>Here is your order ID: {{ id }}</p>
  <p>We will send you a receipt shortly to the following email address:</p>
  <p>{{ email_address }}</p>
  <p>We will send you the tracking number for your order within the next few days
  </p>
  <p>Have a question? Feel free to send us an email at [email address] or message us on either Instagram or Facebook!</p>
</div>
