<div class="bg-black text-pink mt-20 py-15">
    <div class="lg:mx-20 mx-5 py-5 flex justify-around flex-wrap">
        <ul>
            <h1 class="font-bold text-2xl">Socials</h1>
            <img src="/assets/img/facebook-logo.svg" class="inline-block">
            <img src="assets/img/instagram-logo.svg" class="fill inline-block" >
        </ul>
        <ul class="list-inside list-disc">
            <h2 class="font-bold text-2xl">Links</h2>
            <li>Home</li>
            <li>Shop</li>
            <li>Contact</li>
            <li>FAQ</li>
        </ul>
    </div>
</div>