<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <div>
      <div class="float-right" [routerLink]="['/manage/view']">
        <app-close-button></app-close-button>
      </div>
      <label for="name">Name</label>
      <input
        class="block md:w-96 w-52"
        type="text"
        id="name"
        name="name"
        ngModel
        required
      />
    </div>
    <div>
      <label for="price">Price</label>
      <input
        class="block md:w-96 w-52"
        type="number"
        id="price"
        name="price"
        ngModel
        required
      />
    </div>
    <div>
      <label for="quantity">Quantity</label>
      <input
        class="block md:w-96 w-52"
        type="number"
        id="quantity"
        name="quantity"
        ngModel
        required
      />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
        class="block md:w-96 w-52"
        type="text"
        name="description"
        required
        ngModel
      ></textarea>
    </div>
    <div>
      <label for="images">Images</label>
      <input
        class="block"
        (change)="onLoad($event.target.files)"
        id="images"
        accept="image/jpeg image/png"
        multiple
        name="images"
        type="file"
        required
        ngModel
      />
    </div>
  </div>
  <button type="submit" class="bg-green-400 px-5 py-4 rounded">Edit</button>
  <p>Images</p>
  <div *ngIf="newImages" class="flex flex-wrap">
    <img
      class="lg:w-72 lg:h-72 w-40 h-40 px-5 py-5 object-cover"
      *ngFor="let file of fileUrls"
      [src]="file"
    />
  </div>

  <div *ngIf="!newImages" class="flex flex-wrap">
    <img
      class="lg:w-72 lg:h-72 w-40 h-40 px-5 py-5 object-cover"
      *ngFor="let img of product.images"
      [src]="img"
    />
  </div>
</form>
<div class="w-full py-2 bg-black"></div>
