input,
textarea {
  border-radius: 0.25rem;
  --tw-border-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-border-opacity));
}

label {
  padding: 1rem 0 1rem 0;
  display: block;
}

.container {
  width: clamp(20rem, 80vw, 50rem);
  margin: auto;
}
