<div class="lg:w-1/3 md:px-8 mx-auto">
  <h1 class="text-5xl text-center">Upload</h1>
  <form
    class="flex flex-col items-center"
    #uploadForm="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <label for="name">Name</label>
      <input
        class="block md:w-96 w-52"
        type="text"
        id="name"
        name="name"
        ngModel
        required
      />
    </div>
    <div>
      <label class="text-left" for="price">Price</label>
      <input
        class="block md:w-96 w-52"
        type="number"
        id="price"
        name="price"
        ngModel
        required
      />
    </div>
    <div>
      <label for="quantity">Quantity</label>
      <input
        class="block md:w-96 w-52"
        type="number"
        id="quantity"
        name="quantity"
        ngModel
        required
      />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
        class="block md:w-96 w-52"
        type="text"
        name="description"
        required
        ngModel
      ></textarea>
    </div>
    <div>
      <label for="images">Images</label>
      <input
        class="block"
        (change)="onLoad($event.target.files)"
        id="images"
        accept="image/jpeg image/png"
        multiple
        name="images"
        type="file"
        required
        ngModel
      />
      <div *ngIf="fileUrls" class="overflow-x-scroll whitespace-nowrap">
        <img
          class="mx-5 w-40 h-40 inline-block object-cover"
          *ngFor="let file of fileUrls"
          [src]="file"
        />
      </div>
    </div>
    <button type="submit" class="mt-5 bg-lightgreen px-5 py-4 rounded">
      Upload
    </button>
  </form>
</div>
