<div class="md:px-8 mx-auto">
  <h1 class="text-5xl text-center">Upload</h1>
  <form
    class="flex flex-col justify-start text-sm"
    #uploadForm="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <input
        placeholder="Product Name"
        class="block focus:outline-none focus:border-0"
        type="text"
        id="name"
        name="name"
        ngModel
        required
      />
    </div>
    <div>
      <input
        placeholder="Price"
        class="block"
        type="number"
        id="price"
        name="price"
        ngModel
        required
      />
    </div>
    <div>
      <input
        placeholder="Quantity"
        class="block"
        type="number"
        id="quantity"
        name="quantity"
        ngModel
        required
      />
    </div>
    <div>
      <textarea
        placeholder="Add a description"
        class="block"
        type="text"
        name="description"
        required
        ngModel
      ></textarea>
    </div>
    <div>
      <div class="border-2 border-gray-500 rounded py-5">
        <h2 class="relative imageHeader left-5 bg-white z-20 w-max px-1 text-base">Images</h2>
        <div *ngIf="fileUrls" class="flex flex-wrap gap-1 max-w-full mb-5">
          <img
            class="w-40 h-40 inline-block object-cover"
            *ngFor="let file of fileUrls"
            [src]="file"
          />
        </div>
        <label class="images" for="images">Add Images</label>
      </div>
      <input
        placeholder="Hello"
        class="block hidden"
        (change)="onLoad($event.target.files)"
        id="images"
        accept="image/jpeg image/png"
        multiple
        name="images"
        type="file"
        required
        ngModel
      />
    </div>
    <button *ngIf="ready" type="submit" class="mt-5 bg-lightgreen px-5 py-4 rounded">
      Upload Product
    </button>
  </form>
</div>
