<nav class="w-full bg-gray-800 text-white py-3 flex">
  <ul class="flex justify-between items-center w-full md:mx-20">
    <li class="py-4">
      <ul>
        <li
          routerLinkActive="border-b-2 border-red-600"
          class="inline px-5 py-4 cursor-pointer"
          [routerLink]="['/manage/shop']"
        >
          Shop
        </li>
        <li
          routerLinkActive="border-b-2 border-red-600"
          class="inline px-5 py-4 cursor-pointer"
          [routerLink]="['/manage/pickups']"
        >
          Pickups
        </li>
        <li
        routerLinkActive="border-b-2 border-red-600"
        class="inline px-5 py-4 cursor-pointer"
        [routerLink]="['/manage/orders']"
        >
        Orders
      </li>
      <li
        routerLinkActive="border-b-2 border-red-600"
        class="inline px-5 py-4 cursor-pointer"
        [routerLink]="['/manage/upload']"
      >
        Upload
      </li>
      </ul>
    </li>
    <li
      (click)="onLogout()"
      class="bg-red-500 px-5 text-black py-4 rounded-xl cursor-pointer"
    >
      Logout
    </li>
  </ul>
</nav>
