<div *ngIf="product" class="flex max-w-5xl m-auto flex-wrap justify-evenly">
  <img
    class="w-96 h-96 object-cover cursor-pointer px-6"
    [src]="product.images[0]"
  />
  <div class="w-96 px-6 mt-10">
    <h1 class="font-bold uppercase">
      {{ product.name }} <span>{{ product.price | currency }} </span>
    </h1>
    <h2>{{ product.price | currency }}</h2>
    <br />
    <p>Description:</p>
    <p>{{ product.description }}</p>
    <button class="bg-green-500 border-gray-900 rounded-full px-20 py-3" (click)="AddToCart()">Add to Cart</button>
    <p *ngIf="!available">This product is already in your cart!</p>
  </div>
</div>
