<div
  *ngIf="product"
  class="
    grid grid-cols-1
    lg:grid-cols-2
    md:mt-24
    max-w-6xl
    m-auto
    justify-items-center
  "
>
  <div *ngIf="mobile" class="flex w-full justify-between mx-5 my-5">
    <h1 class="font-bold text-2xl">
      {{ product.name }}
    </h1>
    <h2 class="inline">{{ product.price | currency }}</h2>
  </div>

  <app-product-image [images]="product.images"></app-product-image>
  <div class="w-96 px-6 mt-10">
    <h1 class="font-bold text-2xl capitalize">
      {{ product.name }}
    </h1>
    <div>
      <h2 *ngIf="!product.sold">{{ product.price | currency }}</h2>
      <h2 *ngIf="product.sold" class="italic">Sold</h2>
    </div>
    <br />
    <p>{{ product.description }}</p>
    <button
      [disabled]="product.sold"
      [ngClass]="{
        'cursor-not-allowed bg-gray-200 border border-gray-400 text-gray-400':
          product.sold,
        'bg-pink': !product.sold
      }"
      class="bg-pink rounded-full w-full mt-8 py-3"
      (click)="addToCart()"
    >
      Add to Cart
    </button>
    <p *ngIf="!available" class="text-center text-red-500">
      This product is already in your cart!
    </p>
    <p
      *ngIf="added"
      class="
        text-center text-green
        bg-lightgreen
        border-green
        px-10
        py-2
        mx-0
        border
        mt-5
      "
    >
      Item added to your cart.
    </p>
  </div>
</div>

