<div
  *ngIf="product"
  class="flex max-w-6xl m-auto flex-wrap justify-evenly pt-16 my-4"
>
  <div *ngIf="mobile" class="flex w-full justify-between mx-5 my-5">
    <h1 class="font-bold text-2xl uppercase">
      {{ product.name | uppercase}}
    </h1>
    <h2 class="inline">{{ product.price | currency }}</h2>
  </div>
  <img *ngIf="mobile" [src]="product.images[this.selectedImage]" />
  <div
    class="overflow-x-auto whitespace-nowrap lg:grid lg:grid-cols-1 lg:grid-cols-2"
  >
    <img
      *ngFor="let image of product.images; let imgIndex = index"
      class="inline-block w-16 h-16 lg:w-80 lg:h-80 object-cover cursor-pointer m-4"
      [src]="image"
      (click)="onImageClick(imgIndex)"
    />
  </div>
  <div class="w-96 px-6 mt-10">
    <h1 class="font-bold text-2xl uppercase">
      {{ product.name }}
    </h1>
    <h2>{{ product.price | currency }}</h2>
    <br />
    <p>Description:</p>
    <p>{{ product.description }}</p>
    <button class="bg-pink rounded-full w-full my-8 py-3" (click)="AddToCart()">
      Add to Cart
    </button>
    <p *ngIf="!available">This product is already in your cart!</p>
  </div>
</div>
